<%- model_class = Roadmap -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:problem_id) %>:</strong></dt>
  <dd><%= link_to @roadmap.problem.name, problem_path(@roadmap.problem_id) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:required_resources) %>:</strong></dt>
  <dd><%= @roadmap.required_resources %></dd>
</dl>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <h2>Steps</h2>
    </div>
    <div id="steps" class="row">
      <table class="table table-hover">
        <thead>
          <th><%= model_class.human_attribute_name(:step) %></th>
          <th><%= model_class.human_attribute_name(:order) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </thead>
        <% @roadmap.roadmap_steps.each do |step| %>
          <tr>
            <td><%= link_to step.step, roadmap_step_path(step) %></td>
            <td><%= step.order %></td>
            <td><%= link_to 'Edit', edit_roadmap_step_path(step) %></td>
          </tr>
        <% end %>
      </table>
    </div><!-- steps row -->
    <div id="new-step" class="row" style="display: none;">
      <%= form_for([@roadmap, RoadmapStep.new]) do |f| %>
        <div class="form-group">
          <%= f.label :step, :class => '' %>
          <%= f.text_field :step, :class => 'form-control' , :placeholder => 'enter instructions...' %>
        </div>
        <div class="form-group">
          <%= f.label :order, :class => '' %>
          <%= f.number_field :order, :class => 'form-control' %>
        </div>
          <%= f.submit :class => 'btn btn-default' %>
      <% end %>
      <button id="cancel-add-step" class="btn btn-default">
        <i class="fa fa-times"></i>
      </button>
    </div><!-- new-step row -->
    <div class="row">
      <button id="add-step" class="btn btn-default">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div><!-- col-md-12 -->
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
              roadmaps_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_roadmap_path(@roadmap), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              roadmap_path(@roadmap),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
