<%= form_for @data_item, :html => { :class => "form-horizontal data_item" } do |f| %>

    <% if @data_item.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@data_item.errors.count, "error") %> prohibited this data_item from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @data_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@data_item[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :data_class_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :data_class_id, :class => 'form-control' %>
    </div>
    <%= error_span(@data_item[:data_class_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :data_source_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :data_source_id, :class => 'form-control' %>
    </div>
    <%= error_span(@data_item[:data_source_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            data_items_path, :class => 'btn btn-default' %>

<% end %>
